@using System.Globalization
@inject NavigationManager NavigationManager

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@Loc["Language"]: @CultureInfo.CurrentCulture.Name</a>
    <div class="dropdown-menu">
        <form action="/Culture/Set" method="get">
            <input type="hidden" name="culture" value="en-US" />
            <input type="hidden" name="redirectUri" value="@GetReturnUrl()" />
            <button type="submit" class="dropdown-item">English</button>
        </form>
        <form action="/Culture/Set" method="get">
            <input type="hidden" name="culture" value="vi-VN" />
            <input type="hidden" name="redirectUri" value="@GetReturnUrl()" />
            <button type="submit" class="dropdown-item">Tiếng Việt</button>
        </form>
    </div>
</div>

@code {
    private string GetReturnUrl()
    {
        return new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
    }
}
