<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>@Page</h2>
            </div>
            @if (!string.Equals(Page, "Home", StringComparison.OrdinalIgnoreCase))
            {
                <div class="col-12">
                    <a href="/">Home</a>
                    <a href="">@Page</a>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- Page Header End -->
@code {
    [Parameter]
    public string Page { get; set; } = string.Empty;
}